django[gis]==4.2
django-extensions
django-timescaledb
psycopg[binary]
python-dotenv
pydantic
pydantic-settings
setuptools
pandas
matplotlib
matplotlib-inline
plotly
dash>=2.6.0
dash-bootstrap-components
dash-ag-grid
influxdb-client
flask>=2.1.0
werkzeug
gunicorn
kaleido

# while testing
ipython
ipdb
